
<html id="GFG_UP">
<div style="text-align:center">
  <h1 class="app-title">TODO List</h1>
</div>
<div class="container">
<h1>ADD a TODO....</h1>
<br/>
<input 
type="text"
class="input-text"
placeholder="Type a TODO"
[(ngModel)] ="todoValue"
(keyup.enter)="addItem()"
>
<button class="add-btn" (click)="addItem()" [disabled]="todoValue ==''" >ADD TODO</button> 
<div class="list">
<ul>
  <li *ngFor="let item of list">
    <input type="checkbox" name="isDone" [(ngModel)]="item.isDone"/>
    {{item.value}}
    <button class="btn" (click)="deleteItem(item.id)" [disabled]="!item.isDone">Delete</button>
  </li>
  <input type="checkbox" name="isDone" (change)="Oncheck()"/>
  
</ul>
<button [disabled]="isDisabled ">Enabled</button>

<button (click)="GFG_Fun()">
  click here to convert html to base 64 string 
</button>
</div>
</div>
</html>